@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Plus Jakarta Sans",sans-serif;

}

a>svg{
    margin-left: 12px;
}

.title{
     color: #001858;
     font-size: 36px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     margin: 26px 0 15px 0;
 }

.title>span{
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*----------------header--------------*/
header{
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;

}

.header_w-1250px{
     width: 1250px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

.header_w-1250px>nav{
    display: flex;
    align-items: center;
    margin: 22px 50px 20px 300px;
}

.header_w-1250px>nav>ul{
    display: flex;
    gap: 50px;
}



header li{
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.header_w-1250px>div{
    margin: 22px 0 20px 0;
}

.header_w-1250px>div>button{
    width: 213px;
    height: 44px;
    display: flex;
    padding: 10px 17px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*----------------------main---------------------*/
main {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/*-------------subscribe_and_category-------------*/
.subscribe_and_category{
    width: 100%;
    background: #EFF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 116px;
}

.subscribe>div{
    margin: 271px 0 284px 0;
    width: 664px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.subscribe>div>h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.text_subscribe{
    border-left: 3px #2B2C34 solid;
    padding-left: 12px;

}

.text_subscribe>p{
    color: #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 652px;

}

.subscribe>div>form{
    display: flex;
    gap: 20px;
}

input[type="email"] {
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type="email"]::placeholder{
    color: #C0C0C0;
}

input[type="submit"]{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe>img{
    margin: 250px 0 263px 0;
}

.category{
    margin-top: 67px;
    width: 1250px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.category>div:first-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.category>div:first-child>h3{
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.category>div:first-child>p{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.cards_category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
}

.cards_category>a>div{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 65px 0 95px 30px;
    gap: 30px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    color: #232323;
    transition: 0.8s;
}

.cards_category>a>div:hover{
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    transition: 0.8s;

}

.cards_category>a>div>div{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFE;
    border-radius: 7.458px;

}

.cards_category>a>div>h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*.cards_category>div:nth-child(3){*/
/*    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);*/
/*    border-radius: 8px;*/
/*    background: #6246EA;*/
/*}*/

/*.cards_category>div:nth-child(3)>h3{*/
/*    color: #FFFFFE;*/
/*}*/


/*---------information----------*/
.information{
    width: 100%;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
}

.info_w-1250px{
    width: 1250px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
}

.info_w-1250px>section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info_w-1250px>section>div:first-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info_w-1250px>section>div:first-child>h3{
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.info_w-1250px>section>div:first-child>p{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.info_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.info_cards>div{
    width: 300px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);

}

.info_cards>div>h4{
    width: 260px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.dasteen{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dasteen h5{
    color:#2B2C34;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dasteen p{
    width: 184px;
    color: #2B2C34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    word-spacing: 3px;
}

/*-----featured_article-----*/
.featured_article>.info_cards>div:nth-child(1)>h4{
    padding: 25px 0 80px 0;
}
.featured_article>.info_cards>div:nth-child(even)>h4{
    padding: 25px 0 55px 0;
}
.featured_article>.info_cards>div:nth-child(3)>h4{
    padding: 25px 0 30px 0;
}

/*-----CSS-----*/
.css>.info_cards>div>h4{
    padding: 25px 0 55px 0;
}
.css>.info_cards>div:nth-child(4)>h4{
    padding: 25px 0 30px 0;
}

/*-----javascript-----*/
.javascript>.info_cards>div>h4{
    padding: 25px 0 55px 0;
}
.javascript>.info_cards>div:nth-child(2)>h4{
    padding: 25px 0 80px 0;
}
.javascript>.info_cards>div:nth-child(3)>h4{
    padding: 25px 0 30px 0;
}


/*-----React-JS-----*/
.react_js>.info_cards>div>h4{
    padding: 25px 0 55px 0;
}

.info_w-1250px>button{
    width: 165px;
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 8px;
    background: #6246EA;
}

/*---------subscribe_bottom---------*/
.subscribe_bottom{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #EFF0F3;
    gap: 30px;
}

.subscribe_bottom>div:first-child{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.subscribe_bottom>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.subscribe_bottom>div:nth-child(2)>h2{
    color: #2B2C34;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe_bottom>div:nth-child(2)>p{
    color: #C0C0C0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe_bottom>form{
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}
